<h1>Add a picture</h1>
<form action="/pictures" method="POST">

	<label>Artist</label>
	<p><input type="text" name="artist"/></p>

	<label>Title</label>
	<p><input type="text" name="title"/></p>
	
	<label>Image URL</label>
	<p><input type="text" name="url"/></p>
	
	<p><input type="submit"/></p>
	
</form>