<h1>Add a picture</h1>
<form action="/pictures" method="POST">
	<p>
		<label>Artist</label>
		<input type="text" name="artist"/>
	</p>
	<p>
		<label>Title</label>
		<input type="text" name="title"/>
	</p>
	<p>	
		<label>Image URL</label>
		<input type="text" name="url"/>
	</p>
	<p>
		<input type="submit"/>
	</p>
</form>