<% link_to "Delete", @picture, :method => :delete, :confirm => "Are you sure you want to delete this picture?" %>
<hr>
<h2><%= @picture.title %></h2>
Artist: <%= @picture.artist %>

<p>
<img src="<%= @picture.url %>"/>
<% if @picture.copyrighted %>
	<p>This picture is copyrighted.</p>
<% end %>
<%= button_to "Edit Picture", edit_picture_path(@picture), :method => :get %>
</p>